.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: white;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 80px;
    border-top: 1px solid gray;
}
.table{
    display: grid;
    overflow-y: scroll;
    max-height: 47vh;
}
.table tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px lightgrey;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* .column{
    display: flex;
    flex-direction: column;
} */
.adjustSpan{
    width: 100%;
    display: flex;
    height: 30px;
}
.adjustSpan button {
    width: 33.3%;
    border: 1px solid rgba(222, 222, 222, 1);
}
.adjustButton{
    opacity: 1;
    background-color: rgba(243, 243, 243, 1);
    color: rgba(51, 51, 58, 1);
}
.adjustButton:hover {
    opacity: 0.8;
    cursor: pointer;
}
.qButton{
    border: 1px solid rgba(222, 222, 222, 1);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}
.item{
    display: flex;
}
.item h2:hover{
    cursor: pointer;
}
.item img:hover{
    cursor: pointer;
}
.item img{
    height: 72px;
    width: auto;
}
.item h2{
    margin-left: 3vw;
}
.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px grey;
}
.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.checkOut{
    background-color: rgba(51, 51, 58, 1);
    color: white;
    height: 35px;
    width: 13vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkOut:hover{
    cursor: pointer;
    opacity: 0.8;
}
.priceSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.priceSpan p{
    margin-right: 1vw;
}
.deleteIcon{
    cursor: pointer;
}
.closeList{
    position: absolute;
    right: 0;
    cursor: pointer;
    right: 3vw;
    top: 2vh;
}
.tdItem{
    margin-left: 6vw;
    width: 40vw;
}
.quantity{
    width: 10vw;
    display: flex;
    justify-content: center;
}
.price{
    width: 10vw;
    display: flex;
    justify-content: center;
}
.tdTotal{
    width: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
}
.total span{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px lightgrey;
    width: 35%;
}
.addCoupon{
    text-decoration: underline;
}
.addCoupon:hover{
    cursor: pointer;
}
.discountName{
    background-color: lightgray;
}
.discountName:hover{
    cursor: pointer;
}
.couponPopup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 50vw;
    height: 100px;
    z-index: 15;
    background-color: lightgray;
    border: 1px solid rgb(51,51,58);
    box-shadow: 2px 3px rgb(51 51 58);
}
.couponPopup input{
    height: 40%;
    display: flex;
    align-self: center;
    width: 90%
}
.couponPopup button{
    background-color: rgba(51, 51, 58, 1);
    color: white;
    width: 25%;
    height: 70%;
}
.couponPopup span{
    position: absolute;
    right: 0;
    top: 0;
}
.couponPopup span:hover{
    cursor: pointer;
}
.couponPopup button:hover{
    cursor: pointer;
}
.couponPopup div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 45%;
    margin-top: 4px;
}
.couponPopup p{
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    color: red;
    font-weight: bold;
    position: absolute;
    left: 5%;
    bottom: 40px;
}
.invalid {
    border: 1px solid red !important;
}
@media only screen and (max-width: 700px) {
    .total span{
        width: 80%;
    }
    .checkOut{
        width: 30%;
    }
    .tdItem{
        margin-left: 2vw;
        width: 30vw;
    }
    .quantity{
        width: 18vw;
    }
    .tdTotal{
        width: 20vw;
        margin-right: 2vw;
    }
    .item h2{
        font-size: 0.8em;
    }
    .container{
        max-height: 90vh;
        top: 0;
    }
    .couponPopup button{
        width: 45%;
        font-size: 0.7em;
    }
}