.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
    background-color: rgb(243, 243, 243);
}

.container span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    margin-top: 183px;
    margin-bottom: 7px;
}

.container img {
    position: absolute;
    height: 100%;
    display: flex;
    align-self: center;
    width: 79vw;
    z-index: 2;
}

.container h1 {
    opacity: 1;
    color: rgba(51, 51, 58, 1);

    color: white;
    /* background-color: rgb(51, 51, 58); */

    font-family: "VLNewParisHeadline";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 90px;
    z-index: 3;
    height: 90px;
    margin: 0;
    text-shadow: 1.6px 1px white;
}

.container p {
    opacity: 1;
    color: rgba(3, 3, 3, 1);

    color: white;
    /* background-color: rgb(51, 51, 58); */

    font-family: "ProximaNova-Light";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 30px;
    height: 60px;
    width: 38.54vw;
    z-index: 3;
    margin: 0;
    width: 35%;
}

@media only screen and (max-width: 700px) {
    .container{
        height: 45vh;
    }
    .container img {
        /* margin-left: 36vw; */
        /* height: auto; */
        /* width: auto; */
        /* right: 0; */
        /* top: 4%; */
    }
    .container span{
        /* justify-content: flex-start; */
        /* margin-left: 10.4%; */
        margin-top: 8%;
    }
    .container h1{
        /* z-index: 1; */
        font-size: 40px;
        line-height: 10px;
        height: 5%;
    }
    .container p{
        width: 50%;
    }
    .header{
        margin-top: 5em !important;
    }
}
